.team {
	background: #f5f4fa;

	&-list {
		display: flex;
		justify-content: space-between;
	}

	&-item {
		background: var(--main-color);
		box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
		border-radius: 0px 0px 4px 4px;
	}

	&-text {
		padding-top: 30px;
		padding-bottom: 30px;
	}

	&-name {
		font-weight: 500;
		font-size: 16px;
		line-height: calc(19 / 16);
		text-align: center;
		color: var(--main-title-color);
		margin-bottom: 10px;
	}
	&-position {
		font-size: 16px;
		line-height: calc(19 / 16);
		text-align: center;
		color: var(--second-color);
		margin-bottom: 16px;
	}
}

.team__title {
	margin-bottom: 50px;
	text-align: center;
	font-size: 36px;
	line-height: calc(42 / 36);
}

.team-soc-list {
	display: flex;
	justify-content: center;
	gap: 10px;
}

.team-soc-link {
	width: 44px;
	height: 44px;
	border-radius: 50%;
	@extend %aligner;
	justify-content: center;
	color: #afb1b8;

	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

	&:hover,
	&:focus {
		background-color: var(--accent-color);
		color: var(--main-color);
	}
}

.team-soc-icon {
	fill: currentColor;
}
